MSSQL_HOST=test.mssql.andes.gob.ar
MSSQL_DB=LabDB
MSSQL_USERNAME=sa
MSSQL_PASSWORD=sa123
MONGO_HOST=localhost
MONGO_USER=user_fluorometro
MONGO_PASSWORD=password_fluorometro
MONGO_DB=fluorometro
MONGO_AUTH_DB=fluorometro
ENVIRONMENT=DEV
